<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hoopladigital.mapper.PetMapper">

	<select id="getPetList" resultType="Pet">
		select
			id,
			personId,
			name
		from Pet
		order by personId, id
	</select>

	<select id="getPetById" parameterType="long" resultType="Pet">
		select
			id,
			personId,
			name
		from Pet
		where id = #{id}
	</select>

	<insert id="createPet" useGeneratedKeys="true" keyProperty="id">
		insert
		into Pet (
			personId,
			name
		)
		values (
			#{personId},
			#{name}
		)
	</insert>

	<update id="updatePet">
		update
		Pet
		set
			personId = #{personId},
			name = #{name}
		where
			id = #{id}
	</update>

</mapper>
